$primary-color:#6B0C22;
$primary-outline-color:#011C26;
$primary-words-color:#ffffff;
$secondary-color:#6cacac;
$background-color:#000000;
$border-color:#999999;
$gutter-color:#373737;
$faded-text-color:#999999;
$log-icon-color:#636363;
$log-icon-text-color:#ffffff;
$text-color:#dcdcdc;
